.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
}

.img-about {
  position: relative;
  width: 1720px;
  height: 787px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  box-sizing: border-box;
}

.img-about img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.7)
  );
  z-index: 1;
}

.about-text {
  position: absolute;
  bottom: 81px;
  left: 125px;
  z-index: 2;
  max-width: 780px;
  padding-right: 40px;
}

.about-title {
  font-family: "sans";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 30px;
  color: var(--color-white);
  margin: 0;
}

@media (max-width: 768px) {
  .img-about {
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }
  
  .about-text {
    bottom: 40px;
    left: 20px;
    right: 20px;
    max-width: 100%;
    padding-right: 20px;
  }
  
  .about-title {
    font-size: 1rem;
    line-height: 26px;
  }
}

@media (max-width: 480px) {
  .img-about {
    height: 350px;
    margin-top: 15px;
  }
  
  .about-text {
    bottom: 30px;
    left: 15px;
    right: 15px;
    padding-right: 15px;
  }
  
  .about-title {
    font-size: 0.9375rem;
    line-height: 24px;
  }
}