.custom-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 205px;
    height: 50px;
    background: var(--color-orange);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-family: 'sans';
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
    text-align: center;
}

.custom-button:hover{
    background-color: #8d5f20;
}

@media (max-width: 768px) {
  .custom-button {
    width: 180px;
    height: 45px;
    font-size: 1.125rem;
    padding: 8px;
    border-radius: 22.5px;
  }
}

@media (max-width: 480px) {
  .custom-button {
    width: 160px;
    height: 40px;
    font-size: 1rem;
    padding: 6px;
    border-radius: 20px;
  }
}