.shops-gl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 100px;
  gap: 86px;
  width: 1920px;
  height: 726px;
  margin-top: 70px;
  background: var(--color-beige);
}

.names-shops:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 50px;
  font-size: 1.25rem;
  font-family: "sans";
  font-weight: 700;
  width: 925px;
  height: 25px;
}

.names-shops:first-child > .names-shops {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px;
  width: 275px;
  height: 25px;
  box-sizing: border-box;
  font-family: "sans";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 25px;
  cursor: pointer;
  color: var(--color-grey-60);
  border-top: 1px solid transparent;
  transition: all 0.3s ease;
}

.names-shops:first-child > .names-shops:hover {
  color: #feac3b;
  border-top: 1px solid #feac3b;
}

.container-shops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 70px;
  width: 100%;
}

.block-shops {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 100%;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .shops-gl {
    padding: 40px 30px;
    gap: 40px;
    margin-top: 50px;
    width: 100%;
    height: auto;
  }
  
  .names-shops:first-child {
    gap: 30px;
    height: auto;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 100%;
  }
  
  .names-shops:first-child > .names-shops {
    width: 200px;
    font-size: 1rem;
    height: 30px;
  }
  
  .block-shops {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .container-shops {
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .shops-gl {
    padding: 30px 20px;
    gap: 30px;
    margin-top: 40px;
    min-height: 500px;
  }
  
  .names-shops:first-child {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
  }
  
  .names-shops:first-child > .names-shops {
    width: 100%;
    height: 40px;
    font-size: 1.1rem;
    border-top: none;
    border-left: 3px solid transparent;
    padding-left: 15px;
    justify-content: center;
  }
  
  .names-shops:first-child > .names-shops:hover {
    border-top: none;
    border-left: 3px solid #feac3b;
    padding-left: 15px;
  }
  
  .block-shops {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  
  .container-shops {
    gap: 30px;
  }
}