:root{
  --gap-xl: 20px;
  --gap-l: 15px;

  --padding-block: 20px;
  --padding-inline: 20px;

  --border-radius-default: 20px;

  --color-orange: #FEAC3B;
  --color-beige: #FBF9F5;
  --color-beige-50: #979B9A;
  --color-beige-40: #E9E9E7;
  --color-grey: #333D40;
  --color-grey-60: #838988;
  --color-grey-40: #999D9F;

  --color-black-100: #000;
  --color-white: #fff;
}