.container{
    width: 1720px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

@media (max-width: 1279px) {
    .container{
        width: 100%;
        max-width: 728px;
        padding: 0 30px;
    }
}

@media (max-width: 767px) {
    .container{
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
    }
}
