@font-face {
    font-family: 'sans';
    src: url('../fonts/SourceSansPro-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'sans';
    src: url('../fonts/SourceSansPro-SemiBold.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'sans';
    src: url('../fonts/SourceSansPro-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'sans';
    src: url('../fonts/SourceSansPro-Black.ttf');
    font-weight: 700;
}


