<div class="about-trc">
    <div class="trc-title">О нашем центре</div>
    <div class="cards-trc">
        @@include('../components/_trc-card.html',{
            'iconTrc': 'assets/img/shop2.svg',
            'titletrc':'ШОППИНГ',
            'texttrc':'Продукты, спорт, электроника, книги, товары для дома. Банкоматы и платежные терминалы.'
        })
        @@include('../components/_trc-card.html',{
            'iconTrc': 'assets/img/coffee.svg',
            'titletrc':'ПЕРЕКУС',
            'texttrc':'Ароматный кофе в Dark City Roast и любимые блюда в Rostic`s для быстрого и вкусного отдыха.'
        })
        @@include('../components/_trc-card.html',{
            'iconTrc': 'assets/img/baloon.svg',
            'titletrc':'РАЗВЛЕЧЕНИЯ',
            'texttrc':'Прыгайте от души в Fun Jump или учитесь танцевать в легендарной школе ТОДЕС - активный досуг для всех.'
        })
        @@include('../components/_trc-card.html',{
            'iconTrc': 'assets/img/car2.svg',
            'titletrc':'УДОБСТВО',
            'texttrc':'Быстрая автомойка, банкоматы Ак Барс Банка и АльфаБанка - мы позаботились о вашем комфорте.'
        })
    </div>
</div>