<div class="about">
    @@include('../components/_breadcrumbs.html',{ 'tire1':'—',
  'secpage':'О ТРЦ', 'tire2':'', 'thpage':'', 'titlepage': 'О ТРЦ «МИЛЛЕНИУМ»' })
      <div class="img-about">
        <img src="../assets/images/about2.webp" alt="О ТРЦ">
        <div class="image-overlay"></div>
        <div class="about-text">
            <p class="about-title">Крупнейший торгово-развлекательный центр в Казани, предлагающий уникальный опыт шопинга, отдыха и развлечений для всей семьи. Расположен на ключевой автомагистрали города вблизи центра в зоне основных спортивных объектов.</p>
        </div>
    </div>
</div>