<div class="about-adv">
    <div class="title-about-adv">Наши преимущества</div>
    <div class="cards-ab-adv">
        @@include('../components/_adv-card.html', {
            'iconAdvCard': 'assets/img/adres.svg',
            'titleadvcard':'Удобное расположение',
            'textadvcard':'Центральное расположение в Казани с удобной транспортной развязкой. Легко добраться на общественном транспорте или автомобиле.'
        })
        @@include('../components/_adv-card.html', {
            'iconAdvCard': 'assets/img/house.svg',
            'titleadvcard':'Для всей семьи',
            'textadvcard':'Специальные зоны для детей, семейные развлечения, комфортные места отдыха. Развивающие форматы для детей и взрослых. Каждый член семьи найдет занятие по душе.'
        })
        @@include('../components/_adv-card.html', {
            'iconAdvCard': 'assets/img/sec2.svg',
            'titleadvcard':'Безопасность и комфорт',
            'textadvcard':'Круглосуточная охрана, видеонаблюдение, современные системы кондиционирования и чистота во всех зонах центра. Многоуровневая парковка с лифтами и эскалаторами.'
        })
        @@include('../components/_adv-card.html', {
            'iconAdvCard': 'assets/img/human2.svg',
            'titleadvcard':'Спортивное окружение',
            'textadvcard':'Расположение в зоне ключевых спортивных объектов Казани: стадионов, дворцов спорта, что создает уникальную атмосферу и доп. возможности для активного досуга.'
        })
    </div>
</div>