<div class="big-card-shop">
  @@include('../components/_breadcrumbs.html',{ 'tire1':'—',
  'secpage':'Магазины', 'tire2':'—', 'thpage':'Перекрёсток', 'titlepage': 'МАГАЗИНЫ' })
  <div class="big-container">
    @@include('../components/_shops-card.html', {
        'imgShop':'assets/images/per',
        'shopnamecard':'Перекрёсток',
        'floorcardshop': '1 этаж',
        'alltext':'«Перекрёсток» — ключевой якорный арендатор и лидер рынка супермаркетов в России. Его присутствие в ТРЦ гарантирует стабильный ежедневный трафик и синергию для всех арендаторов. <br><br> «Перекрёсток» постоянно развивается, обновляя пространства в соответствии с новой клиентоориентированной концепцией, и обеспечивает высокое качество и широкий выбор. Это позволяет посетителям совместить покупки с отдыхом, увеличивая время пребывания в комплексе и укрепляя его привлекательность.',
        'photoShopBig': 'assets/images/perek'
    })
  </div>
</div>
