<div class="mission">
    <div class="title-mission">Наша миссия и ценности</div>
    <div class="subtitle-mission">ТРЦ «Миллениум» создан для того, чтобы дарить нашим гостям незабываемые эмоции и обеспечивать максимальный комфорт во время шопинга и отдыха. Мы стремимся быть лучшим торгово-развлекательным центром в Казани, предлагая уникальный опыт для всей семьи в зоне ключевых спортивных объектов города.</div>
    <div class="cards-mission">
        @@include('../components/_mis-card.html',{
            'iconMis':'assets/img/heart.svg',
            'titlemis':'ЗАБОТА О КЛИЕНТАХ',
            'textmis':'Ваш комфорт и удовлетворение - наш главный приоритет'
        })
        @@include('../components/_mis-card.html',{
            'iconMis':'assets/img/hands2.svg',
            'titlemis':'КАЧЕСТВО И НАДЕЖНОСТЬ',
            'textmis':'Работаем только с проверенными брендами и партнерами'
        })
        @@include('../components/_mis-card.html',{
            'iconMis':'assets/img/lamp.svg',
            'titlemis':'ИННОВАЦИИ',
            'textmis':'Постоянно развиваемся и внедряем новые технологии'
        })
        @@include('../components/_mis-card.html',{
            'iconMis':'assets/img/leaf.svg',
            'titlemis':'ЭКОЛОГИЧНОСТЬ',
            'textmis':'Заботимся об окружающей среде и эффективном использовании ресурсов'
        })
    </div>
</div>