<div class="news">
    <div class="text-news">
        <div class="title-news">НОВОСТИ И СОБЫТИЯ</div>
    <div class="subtitle-news">Будьте в курсе самых интересных событий, акций и новинок ТРЦ Миллениум</div>
    </div>
    <div class="cards-news">
        @@include('../components/_card-news.html', {
            'datanews':'15-30 АПРЕЛЯ',
            'category':'Развлечения',
            'newstitle':'БЕСПЛАТНЫЙ ЧАС НА БАТУТАХ',
            'newstext':'При покупке любого абонемента в «Fun Jump» — дополнительный час в подарок! Успейте взлететь.'
        })
        @@include('../components/_card-news.html', {
            'datanews':'20 АПРЕЛЯ',
            'category':'Событие',
            'newstitle':'открытие летней веранды в DARK ROAST',
            'newstext':'Первый глоток лета! Ждем вас на новой уютной веранде с видом на парк. Специальное сезонное меню.'
        })
        @@include('../components/_card-news.html', {
            'datanews':'10 МАЯ',
            'category':'Для детей',
            'newstitle':'бесплатный мастер-класс в лабиринт.ру',
            'newstext':'Каждую субботу в 14:00 - творческие занятия для детей. Рисование, лепка, апликация. Запись обязательна.'
        })
        @@include('../components/_card-news.html', {
            'datanews':'ПОСТОЯННО',
            'category':'Услуги',
            'newstitle':'парковка со скидкой 25%',
            'newstext':'Предъявите чек от 1000Р из любого магазина ТРЦ на стойке информации - и получите скидку на паркинг'
        })
    </div>
            @@include('../components/_button.html', {
            'hrefstr':'',
            'textbtn' : 'Показать все'})
</div>