<div class="shops-gl">
    <div class="names-shops">
        <div class="names-shops shop">МАГАЗИНЫ</div>
        <div class="names-shops cafe">КАФЕ И РАЗВЛЕЧЕНИЯ</div>
        <div class="names-shops ys">УСЛУГИ</div>
    </div>
    <div class="container-shops">
            <div class="block-shops">
        @@include('../components/_card-shop.html', {
            'photoShop': 'assets/images/per',
            'floorshop': '1 этаж',
            'nameshop': 'Перекрёсток',
            'hrefpage': 'index3.html'
        })
        @@include('../components/_card-shop.html', {
            'photoShop': 'assets/images/lab',
            'floorshop': '2 этаж',
            'nameshop': 'Лабиринт.ру',
            'hrefpage': 'index3.html'
        })
        @@include('../components/_card-shop.html', {
            'photoShop': 'assets/images/trs',
            'floorshop': '2 этаж',
            'nameshop': 'Триал-спорт',
            'hrefpage': 'index3.html'
        })
        @@include('../components/_card-shop.html', {
            'photoShop': 'assets/images/eta',
            'floorshop': '2 этаж',
            'nameshop': 'Этажи',
            'hrefpage': 'index3.html'
        })
        </div>
        @@include('../components/_button.html', {
            'hrefstr':'index2.html',
            'textbtn' : 'Показать все'})
    </div>

</div>