<div class="slider">
    <div class="slider-container">
        <button class="slider-arrow slider-arrow-prev">
            <svg width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M31.4879 23.9167L27.7601 20.1889L16.5714 31.375L27.7575 42.5611L31.4853 38.8306L26.6686 34.0114H46.5389V28.7386L26.6686 28.7386L31.4879 23.9167Z" fill="#FEAC3B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1194 10.8694C-0.206454 22.1952 -0.206454 40.5548 11.1194 51.8806C22.4452 63.2065 40.8048 63.2065 52.1306 51.8806C63.4565 40.5548 63.4565 22.1952 52.1306 10.8694C40.8048 -0.456455 22.4452 -0.456455 11.1194 10.8694ZM14.8472 14.5972C10.3974 19.0469 7.89758 25.0821 7.89758 31.375C7.89758 37.6679 10.3974 43.7031 14.8472 48.1528C19.2969 52.6026 25.3321 55.1024 31.625 55.1024C37.9179 55.1024 43.9531 52.6026 48.4028 48.1528C52.8526 43.7031 55.3524 37.6679 55.3524 31.375C55.3524 25.0821 52.8526 19.0469 48.4028 14.5972C43.9531 10.1474 37.9179 7.64758 31.625 7.64758C25.3321 7.64758 19.2969 10.1474 14.8472 14.5972Z" fill="#FEAC3B"/>
        </svg>

        </button>
        
        <div class="slides">
            <div class="slide active">
                <img src="assets/images/photo1.webp" alt="Слайд 1" class="slide-image">
            </div>
            <div class="slide">
                <img src="assets/images/photo2.webp" alt="Слайд 2" class="slide-image">
            </div>
            <div class="slide">
                <img src="assets/images/photo3.webp" alt="Слайд 3" class="slide-image">
            </div>
        </div>
        
        <button class="slider-arrow slider-arrow-next">
            <svg width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M31.5122 39.0833L35.24 42.8111L46.4287 31.625L35.2426 20.4389L31.5148 24.1694L36.3314 28.9886L16.4612 28.9886L16.4612 34.2614L36.3314 34.2614L31.5122 39.0833Z" fill="#FEAC3B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M51.8806 52.1306C63.2065 40.8048 63.2065 22.4452 51.8806 11.1194C40.5548 -0.206454 22.1952 -0.206454 10.8694 11.1194C-0.456455 22.4452 -0.456455 40.8048 10.8694 52.1306C22.1952 63.4565 40.5548 63.4565 51.8806 52.1306ZM48.1528 48.4028C52.6026 43.9531 55.1024 37.9179 55.1024 31.625C55.1024 25.3321 52.6026 19.2969 48.1528 14.8472C43.7031 10.3974 37.6679 7.89758 31.375 7.89758C25.0821 7.89758 19.0469 10.3974 14.5972 14.8472C10.1474 19.2969 7.64758 25.3321 7.64758 31.625C7.64758 37.9179 10.1474 43.9531 14.5972 48.4028C19.0469 52.8526 25.0821 55.3524 31.375 55.3524C37.6679 55.3524 43.7031 52.8526 48.1528 48.4028Z" fill="#FEAC3B"/>
            </svg>
        </button>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const slides = document.querySelectorAll('.slide');
        const prevBtn = document.querySelector('.slider-arrow-prev');
        const nextBtn = document.querySelector('.slider-arrow-next');
        let currentSlide = 0;
        let slideInterval;
        let startX = 0;
        let endX = 0;
        
        function showSlide(n) {
            // Скрываем все слайды
            slides.forEach(slide => {
                slide.classList.remove('active');
            });
            
            // Циклическое переключение
            if (n >= slides.length) currentSlide = 0;
            if (n < 0) currentSlide = slides.length - 1;
            
            // Показываем текущий слайд
            slides[currentSlide].classList.add('active');
        }
        
        function nextSlide() {
            currentSlide++;
            showSlide(currentSlide);
        }
        
        function prevSlide() {
            currentSlide--;
            showSlide(currentSlide);
        }
        
        function startAutoSlide() {
            clearInterval(slideInterval);
            slideInterval = setInterval(nextSlide, 5000);
        }
        
        // Обработчики событий для стрелок
        nextBtn.addEventListener('click', function() {
            nextSlide();
            startAutoSlide();
        });
        
        prevBtn.addEventListener('click', function() {
            prevSlide();
            startAutoSlide();
        });
        
        // Touch события для свайпов на мобильных
        const slidesContainer = document.querySelector('.slides');
        let isSwiping = false;
        
        slidesContainer.addEventListener('touchstart', function(e) {
            startX = e.touches[0].clientX;
            isSwiping = true;
            clearInterval(slideInterval);
        });
        
        slidesContainer.addEventListener('touchmove', function(e) {
            if (!isSwiping) return;
            endX = e.touches[0].clientX;
        });
        
        slidesContainer.addEventListener('touchend', function() {
            if (!isSwiping) return;
            
            const diffX = startX - endX;
            const minSwipeDistance = 50;
            
            if (Math.abs(diffX) > minSwipeDistance) {
                if (diffX > 0) {
                    // Свайп влево - следующий слайд
                    nextSlide();
                } else {
                    // Свайп вправо - предыдущий слайд
                    prevSlide();
                }
            }
            
            isSwiping = false;
            startAutoSlide();
        });
        
        // Пауза при наведении на слайдер (только для десктопа)
        if (window.innerWidth > 768) {
            const slider = document.querySelector('.slider');
            slider.addEventListener('mouseenter', function() {
                clearInterval(slideInterval);
            });
            
            slider.addEventListener('mouseleave', function() {
                startAutoSlide();
            });
        }
    });
</script>