// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/header';
@use 'components/nav-link';
@use 'components/footer';
@use 'components/slider';
@use 'components/hero-adv';
@use 'components/card-hero';
@use 'components/shops-gl';
@use 'components/card-shop';
@use 'components/button';
@use 'components/news';
@use 'components/card-news';
@use 'components/breadcrumbs';
@use 'components/shops';
@use 'components/big-card-shop';
@use 'components/shops-card';
@use 'components/contacts';
@use 'components/card-route';
@use 'components/info-card';
@use 'components/renters';
@use 'components/parking';
@use 'components/general-card';
@use 'components/rule-card';
@use 'components/about';
@use 'components/about-trc';
@use 'components/trc-card';
@use 'components/about-adv';
@use 'components/adv-card';
@use 'components/ab-slider';
@use 'components/mission';
@use 'components/mis-card';